:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.underline{
  text-decoration: underline;
}

.promoted{
  font-style: italic;
}
.new{
  color: green;
}
.soldout{
  color: red;
}
.gold{
  background-color: gold;
  font-size: 2em;
}





































